@tailwind base;
@tailwind components;
@tailwind utilities;

header {
	@apply font-bold;
	@apply text-lg;
	@apply mx-4;
	@apply my-2;
}

.navigation-bar {
	@apply flex;
	@apply mx-4; 
	@apply my-2;
	@apply border-b-2;
	@apply px-2;
}

.navigation-bar li {
	@apply flex-initial;
	@apply mr-4
}

.sorting-bar {
	@apply text-base;
	@apply text-center;
}

.aptitudes-list {
	@apply mt-5;
	@apply mx-4;
}

.aptitude-card {
	@apply py-2;
	@apply w-full;
	@apply border-b-2;
}

.aptitude-card .name {
	@apply font-bold;
	@apply capitalize;
	@apply ml-2;
	display:  inline-block;
	@apply text-lg;
}

.aptitude-card .type {
	@apply italic;
	@apply text-sm;
	display:  inline-block;
	@apply mx-2;
}

.aptitude-card .type::before {
	content: "(";
}

.aptitude-card .type::after {
	content: ")";
}

.aptitude-card .reference {
	@apply italic;
	@apply text-sm;
	display:  inline-block;
	@apply mx-2;
}

.aptitude-card .reference::before {
	content: "(";
}

.aptitude-card .reference::after {
	content: ")";
}

.aptitude-card .description {
	text-indent: 1em;
	@apply ml-1;
}

.aptitude-card .description div {
	@apply mt-1;
}

.aptitude-card .taglist {
	@apply ml-2;
}

.aptitude-card .taglist :nth-child(1) {
	@apply font-bold;
}

.aptitude-card .taglist .tag:nth-child(1n+3)::before {
	content: ", ";
}

.aptitude-card .description :nth-child(2)::before {
	content: "I : ";
	@apply font-bold;
}

.aptitude-card .description :nth-child(3)::before {
	content: "II : ";
	@apply font-bold;
}

.aptitude-card .description :nth-child(4)::before {
	content: "III : ";
	@apply font-bold;
}