@tailwind base;
@tailwind components;
@tailwind utilities;

header {
	@apply font-bold;
	@apply text-lg;
	@apply mx-4;
	@apply my-2;
}

.navigation-bar {
	@apply flex;
	@apply mx-4; 
	@apply my-2;
	@apply border-b-2;
	@apply px-2;
}

.navigation-bar li {
	@apply flex-initial;
	@apply mr-4
}

.sorting-bar {
	@apply text-base;
	@apply text-center;
}

.tag-bar {
	@apply flex-wrap;
}

.aptitudes-list {
	@apply mt-5;
	@apply mx-4;
}

.aptitude-card {
	@apply py-2;
	@apply w-full;
	@apply border-b-2;
}

.aptitude-card .name {
	@apply font-bold;
	@apply capitalize;
	@apply ml-2;
	display:  inline-block;
	@apply text-lg;
}

.aptitude-card .type {
	@apply italic;
	@apply text-sm;
	display:  inline-block;
	@apply mx-2;
}

.aptitude-card .type::before {
	content: "(";
}

.aptitude-card .type::after {
	content: ")";
}

.aptitude-card .reference {
	@apply italic;
	@apply text-sm;
	display:  inline-block;
	@apply mx-2;
}

.aptitude-card .reference::before {
	content: "(";
}

.aptitude-card .reference::after {
	content: ")";
}

.aptitude-card .description {
	text-indent: 1em;
	@apply ml-1;
}

.aptitude-card .description div {
	@apply mt-1;
}

.aptitude-card .taglist {
	@apply ml-2;
}

.aptitude-card .taglist :nth-child(1) {
	@apply font-bold;
}

.aptitude-card .taglist .tag:nth-child(1n+3)::before {
	content: ", ";
}

.aptitude-card .description :nth-child(2)::before {
	content: "I : ";
	@apply font-bold;
}

.aptitude-card .description :nth-child(3)::before {
	content: "II : ";
	@apply font-bold;
}

.aptitude-card .description :nth-child(4)::before {
	content: "III : ";
	@apply font-bold;
}





.aptitude-line-1 {
	top: 336px;
}
.aptitude-line-2 {
	top: 478px;
}
.aptitude-line-3 {
	top: 613px;
}
.aptitude-line-4 {
	top: 749px;
}

.aptitude-col-1 {
	left: 32px;
}
.aptitude-col-2 {
	left: 304px;
}
.aptitude-col-3 {
	left: 556px;
}

.arme-col {
	left:  90px;
}
.arme-line-1 {
	top: 947px;
}
.arme-line-2 {
	top: 987px;
}
.arme-line-3 {
	top: 1027px;
}
.arme-line-4 {
	top: 1067px;
}

.armure-col-1 {
	left: 565px;
}
.armure-col-2 {
	left: 692px;
}
.armure-line {
	top: 948px;
}


.equip-col {
	left: 576px;
}
.equip-line-1 {
	top: 100px;
}
.equip-line-2 {
	top: 142px;
}
.equip-line-3 {
	top: 184px;
}
.equip-line-4 {
	top: 228px;
}
.equip-line-5 {
	top: 270px;
}
.equip-line-6 {
	top: 312px;
}
.equip-line-7 {
	top: 354px;
}
.equip-line-8 {
	top: 396px;
}
.equip-line-9 {
	top: 438px;
}
.equip-line-10 {
	top: 482px;
}
.equip-line-11 {
	top: 526px;
}
.equip-line-12 {
	top: 570px;
}
.equip-line-13 {
	top: 612px;
}
.equip-line-14 {
	top: 654px;
}
.equip-line-15 {
	top: 696px;
}
.equip-line-16 {
	top: 738px;
}
.equip-line-17 {
	top: 780px;
}
.equip-line-18 {
	top: 822px;
}
.equip-line-19 {
	top: 864px;
}
.equip-line-20 {
	top: 906px;
}
.equip-line-21 {
	top: 948px;
}


.artefact-line-1 {
	top: 840px;
}
.artefact-line-2 {
	top: 907px;
}
.artefact-line-3 {
	top: 993px; 
}
.artefact-line-4 {
	top: 1080px;
}
.artefact-col {
	left: 61px;
}